.details-task {
    width: 100%;
    background: linear-gradient(to bottom right, #7dcc7f, #3dcc63, #2b9440);
}

.details-panel {
    margin-top: 1rem !important;
    box-shadow: 0 0 17px 10px rgba(255, 255, 255, 0.3);
}

.ui-datatable .table-comment {
    width:  111px;
    word-wrap: break-word !important;
}